*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fredoka One', cursive;
  text-align: center;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.headline-btn1:hover {
  color: #c797eb;
}
.headline-btn2:hover {
  color: #4ecdc4;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-45deg, #4ecdc4 50%, #c797eb 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:1s;
}

.bg3 {
  animation-duration:2s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.panel-container{
  margin: 50px auto;
  padding-top: 20px;
  border-radius: 20px;
  width: 40%;
  height: 95vh;
  -webkit-box-shadow: -2px 12px 17px -3px rgba(0,0,0,0.69); 
  box-shadow: -2px 12px 17px -3px rgba(0,0,0,0.69);
  background-color: white;
  height: 80vh;

  /* z-index: 2; */
}

.pad-list-container{
  width: 95%;
  border-radius: 20px;
  margin: 20px auto; 
  background-color: white;
}

.headline{
  display: flex;
  justify-content: center;
}

span {
  display: flex;
  align-items: center;
}


.pad-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
  padding: 10px;
}

.pad {
  /* height: 100px;   */
  margin: 0 auto;
  width: 100%;
  
}

.pad-btn {
  min-width: 140px;
  height: 40px;
  color: black;
  padding: 5px 10px;
  font-size: 1rem;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #ced4da;
  box-shadow: 0 5px #adb5bd;
}

.pad-btn:hover {
  box-shadow: 0 3px #adb5bd;
  top: 1px;
}

.pad-btn:active{
  box-shadow: 0 0 #adb5bd;
  top: 5px;
  background-image: linear-gradient(315deg, #4ecdc4 0%, #c797eb 75%);
}

.active{
  color: white;
  background-image: linear-gradient(315deg, #4ecdc4 0%, #c797eb 75%);
}

.volume-input {
  width: 75%;
  margin: 10px;
  cursor: pointer;
}


@media (max-width: 1050px) {

  .panel-container{
    width: 80%;
  }
  .pad-list {
    gap:20px;
  }
  .pad-btn {
    margin: 0 auto;
    width: 200px;
    font-size: .8rem;
    padding: 0;
  }

  .volume-input {
    width: 80%;
  }
}

@media (max-width: 880px) {

  .panel-container{
    width: 80%;
  }
  .pad-list {
    gap:20px;
  }
  .pad-btn {
    width: 150px;
  }

  .volume-input {
    width: 70%;
  }
}

@media (max-width: 660px) {

  .panel-container{
    width: 80%;
  }

  .pad-btn {
    width: 100px;
    min-width: 0;
    font-size: .8rem;
  }

  .volume-input {
    width: 50%;
  }
}
@media (max-width: 500px) {

  .panel-container{
    width: 90%;
  }

  .pad-btn {
    font-size: .7rem;
  }

  .volume-input {
    width: 50%;
  }
}
@media (max-width: 430px) {

  .pad-list-container {
    width: 90%;
  }

  .pad-btn {
    width: 80px;
    font-size: .6rem;
  }

  .volume-input {
    width: 50%;
  }
}
  